.logo {
  content: url("/assets/gymnasium-logo-black.png");
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .logo {
    content: url("/assets/gymnasium-logo-white.png");
  }
}
