.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.fallback-image {
  content: url("/assets/gymnasium-logo-black.png");
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-top: 1rem;
}

@media (prefers-color-scheme: dark) {
  .fallback-image {
    content: url("/assets/gymnasium-logo-white.png");
  }
}
